---
import { getCollection } from 'astro:content';
import LinkCard from '../components/LinkCard.astro';
import ExternalLinkButton from '../components/ExternalLinkButton.astro';
import InternalLinkButton from '../components/InternalLinkButton.astro';

const allArticles = await getCollection('article');
// slice(0, 5) を削除して全件取得
const sortedArticles = allArticles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// 表示されている記事からユニークなカテゴリーを抽出
const categories = [...new Set(sortedArticles.map((article) => article.data.category))];
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="All Articles - mi-nato.com">
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#4968bd">
		<title>All Articles - mi-nato.com</title>

		<link rel="stylesheet" href="/styles/index.css">

		<!-- favicon設置, theme-color -->
		<link rel="icon" href="/favicon.ico" />
		<meta name="theme-color" content="#3a549c" />

		<!-- Font Awesome の読み込み -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

		<!-- Google Fonts の読み込み -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

	</head>
	<body>
		<header class="header">
			<div class="header-left">
				<a href="/">mi-nato.com</a>
			</div>
			<div class="header-right">
				<a href="/">Home</a>
				<a href="/#about">About</a>
				<a href="/#works">Works</a>
				<a href="/#studies">Studies</a>
			</div>
		</header>

		<div class="articles-section section" id="articles">
			<div class="section-header">
				<div class="section-title">
					All Articles
				</div>
				<div class="toolbar">
					<div class="filter-dropdown">
						<button id="tag-filter-button" class="filter-button">Tag <i class="fa-solid fa-caret-down"></i></button>
						<div id="tag-dropdown-content" class="dropdown-content">
							<button class="dropdown-item" data-category="all">All</button>
							{categories.map((cat) => (
								<button class="dropdown-item" data-category={cat}>{cat}</button>
							))}
						</div>
					</div>
				</div>
			</div>
			<div class="link-card-container">
				{sortedArticles.map((article) => (
					<LinkCard
						href={`/article/${article.slug}`}
						thumbnail={article.data.thumbnail}
						title={article.data.title}
						category={article.data.category}
						slug={article.slug}
						date={article.data.date.toLocaleDateString('ja-JP')}
					/>
				))}
			</div>
			<div class="section-footer">
				
			</div>
		</div>

		<a href="#" class="back-to-top-button">
			<i class="fa-solid fa-angle-up"></i>
		</a>

		<script is:inline src="/scripts/script.js"></script>
	</body>
</html>