---
import { getCollection } from 'astro:content';
import LinkCard from '../components/LinkCard.astro';

const allArticles = await getCollection('article');
const sortedArticles = allArticles.sort((a, b) => b.slug.localeCompare(a.slug)).slice(0, 5);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#4968bd">
		<title>mi-nato.com</title>

		<link rel="stylesheet" href="/styles/index.css">

		<!-- Font Awesome の読み込み -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

		<!-- Google Fonts の読み込み -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

	</head>
	<body>
		<header class="header">
			<div class="header-left"><a href="">mi-nato.com</a></div>
			<button id="menu-toggle" class="menu-toggle" aria-label="Toggle Menu">
				<span class="icon-hamburger"><i class="fa-solid fa-bars"></i></span>
				<span class="icon-caret-up"><i class="fa-solid fa-caret-up"></i></i></span>
			</button>
			<div class="header-right">
				<a href="#news">News</a>
				<a href="#about">About</a>
				<a href="#works">Works</a>
				<a href="#studies">Studies</a>
				<button class="share-button">
					<i class="fa-solid fa-arrow-up-right-from-square"></i>
				</button>
			</div>
		</header>

		<div class="section-title" id="news">News</div>
		<div class="news-section section">
			<div class="news-scroll-wrapper" id="news-scroll-wrapper" style="overflow-x: auto;">
				<div class="news-track" style="animation: none;">
					{/* ループのために2セット表示 */}
					{sortedArticles.map((article) => (
						<LinkCard
							href={`/article/${article.slug}`}
							thumbnail={article.data.thumbnail}
							title={article.data.title}
							description={article.data.description}
						/>
					))}
					{sortedArticles.map((article) => (
						<LinkCard
							href={`/article/${article.slug}`}
							thumbnail={article.data.thumbnail}
							title={article.data.title}
							description={article.data.description}
						/>
					))}
				</div>
			</div>
			<div class="section-footer">
				<div>read more</div>
				<a href="/" class="link-button">
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>

		<div class="section-title" id="about">About</div>
		<div class="about-section section">
			<div class="introduction-container">
				
			</div>
			<div class="section-footer">
				<div>read more</div>
				<a href="/" class="link-button">
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>

		<div class="section-title" id="works">Works</div>
		<div class="section">
			<div class="section-footer">
				<div>read more</div>
				<a href="/" class="link-button">
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>

		<div class="section-title" id="studies">Studies</div>
		<div class="section">
			<div class="section-footer">
				<div>read more</div>
				<a href="/" class="link-button">
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>

		<footer class="footer">
			<div class=footer-title>Links</div>
			<div class="links-container">
				<a class="button-container" href="">
					X
					<div class="link-button">
						<i class="fa-brands fa-x-twitter"></i>
					</div>
				</a>
				<a class="button-container" href="https://github.com/NoCream-jp/">
					GitHub
					<div class="link-button">
						<i class="fa-brands fa-github"></i>
					</div>
				</a>
				<a class="button-container" href="https://www.linkedin.com/in/minato-hayashi-1585b03a2/">
					LinkedIn
					<div class="link-button">
						<i class="fa-brands fa-linkedin"></i>
					</div>
				</a>
				<a class="button-container">
					instagram
					<div class="link-button">
						<i class="fa-brands fa-instagram"></i>
					</div>
				</a>
				<a class="button-container" href="https://atcoder.jp/users/Caffeineholic">
					AtCoder
					<div class="link-button">
						<img src="/images/AtCoder_logo.png" alt="" class="link-button-img">
					</div>
				</a>
				
			</div>
			<span>Copyright ©2025 mi-nato.com</span>
		</footer>
		<script is:inline src="/scripts/script.js"></script>
	</body>
</html>